In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
import pandas as pd
data = pd.read_csv('C:/Users/Лена/Music/Desktop/DS/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1763,tt0427309,15000000,30226144,The Great Debaters,Denzel Washington|Nate Parker|Forest Whitaker|...,Denzel Washington,"When the nation was in need, he inspired them ...",The true story of a brilliant but politically ...,126,Drama,The Weinstein Company|Harpo Films|Marshall Pro...,12/27/2007,6.6,2007
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
386,tt1250777,28000000,96188903,Kick-Ass,Aaron Taylor-Johnson|ChloÃ« Grace Moretz|Chris...,Matthew Vaughn,Shut up. Kick ass.,Dave Lizewski is an unnoticed high school stud...,117,Action|Crime,Lions Gate,3/22/2010,7.0,2010
1372,tt0404032,19000000,144216468,The Exorcism of Emily Rose,Laura Linney|Tom Wilkinson|Campbell Scott|Jenn...,Scott Derrickson,What happened to Emily?,When a younger girl called Emily Rose (Carpent...,122,Crime|Drama|Horror|Thriller,Lakeshore Entertainment|Firm Films|Screen Gems,9/9/2005,6.2,2005
1050,tt1714203,5000000,8493728,Piranha 3DD,Danielle Panabaker|Matt Bush|Katrina Bowden|Je...,John Gulager,Twice the Teeth. Twice the Terror.,"After the events at Lake Victoria, the prehist...",83,Horror|Thriller|Comedy,Dimension Films|Mark Canton Productions|Intell...,5/11/2012,4.2,2012

In [3]:
data.describe() 
#показывает статистические значения, таких как непустые значения(count), среднее(mean) 
#стандартное отклонение(std), минимум и максимум(min и max), 25% и 75% квартили и медиана (50%)

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# добавляем колонку profit(profit = revenue - budget)
data['profit'] = data.revenue - data.budget

# переводим дату в формат DateTime
data.release_date = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'].idxmax()]

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
data.loc[data['budget'].idxmax()].values

In [0]:
# можно добавлять разные варианты решения
data.iloc[data['budget'].argmax()]

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [0]:
data.loc[data['runtime'].idxmax()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [0]:
data.loc[data.runtime==data.runtime.min(),'original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '2. 110'

In [ ]:
mean = data.mean(axis = 0, skipna = True)
print(mean)

In [ ]:
data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '1. 107'

In [0]:
median = data.median(axis = 0, skipna = True)
print(median)

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = '4. Avatar (tt0499549)'

In [0]:
data.loc[data['profit'].idxmax()]

In [ ]:
data.loc[data.profit==data.profit.max(),'original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = '4. The Lone Ranger (tt1210819)'

In [0]:
data.loc[data['profit'].idxmin()]

In [ ]:
data.sort_values(by='profit').head(10)['original_title']

In [ ]:
data[['profit', 'original_title', 'imdb_id']].sort_values('profit', ascending=False)[-10:]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1. 1478'

In [ ]:
s = (data['revenue'] > data['budget']).value_counts()
display(s)

In [ ]:
data.loc[(data.profit)>0].shape[0]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [ ]:
max_release = data[(data['release_year'] == 2008)].revenue.max()
data[(data.revenue == max_release) & (data['release_year'] == 2008)].original_title.unique()

In [ ]:
data.loc[data.release_year==2008].sort_values(by='revenue',ascending=False).head(1)['original_title'].values[0]

In [ ]:
d = data.loc[data.release_year == 2008]
d.set_index('original_title')['profit'].idxmax()

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [ ]:
min_release = data[data.release_year.isin([2012,2013,2014])].sort_values(by='profit', ascending=True)[['original_title', 'imdb_id']].iloc[0][0:2]
print(min_release)

In [ ]:
data.loc[(data.release_year>=2012)&(data.release_year<=2014)].sort_values(by='profit')

In [ ]:
data[data.profit == data.query('2012 <= release_year <= 2014').profit.min()]

In [ ]:
colums_ls=['profit', 'original_title', 'imdb_id','release_year']
data[colums_ls][(data['release_year']>=2012) & (data['release_year']<=2014)].sort_values('profit', ascending=False)[-10:]

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = '3. Drama'

ВАРИАНТ 1

In [ ]:
Counter(data['genres'].str.cat(sep='|').split('|')).most_common(1)

ВАРИАНТ 2

In [0]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = '1. Drama'

In [ ]:
film_revenue = data[data['profit'] > 0]
print(pd.Series((film_revenue.genres.str.split('|').sum())).value_counts().index[0])

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = '5. Peter Jackson'

In [ ]:
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False).head(5)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = '3. Robert Rodriguez'

In [ ]:
film_action_max = data[data.genres.str.contains("Action")]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = '3. Chris Hemsworth'

In [ ]:
sum_gen=counter(data[data['release_year']==2012],'cast')
    for gen in sum_gen.index:
        sum_gen[gen] = data['revenue'][data['release_year']==2012][data['cast'].map(lambda x: True if gen in x else False)].sum()
    sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
    sum_gen[:10].plot(kind='bar',figsize=(15,7),fontsize=12)
    plt.xticks(rotation=60)
    plt.title("cast with Highest Profit",fontsize=15)
    plt.xlabel("cast",fontsize=14)
    plt.ylabel("$",fontsize=14)
    sum_gen[:10]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = '3. Matt Damon'

In [ ]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = '2. Action'

In [ ]:
Counter(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').sum()).most_common(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [ ]:
data[data['production_companies'].str.contains('Paramount Pictures', na=False)].sort_values(by='profit').head(1)['original_title'].values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '5. 2015'

In [ ]:
best_profit = pd.pivot_table(data, values='revenue', index='release_year', aggfunc='sum')
best_profit.revenue.sort_values(ascending=False).head(1)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '1. 2014'

In [ ]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().idxmax()

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = '4. Сентябрь'

In [ ]:
data.groupby(data['release_date'].dt.strftime('%B'))['imdb_id'].count().sort_values(ascending = False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '2. 450'

In [ ]:
print(len(data[(data.release_date.dt.month >=6) & (data.release_date.dt.month <=8)]))

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = '5. Peter Jackson'

In [ ]:
director_winter = data[data.release_date.dt.month.isin([1, 2, 12,])]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = '5. Four By Two Productions'

In [ ]:
data['title_length'] = data['original_title'].map(lambda x: len(x))

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = '3. Midnight Picture Show'

In [ ]:
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

In [ ]:
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [ ]:
pairs = data.cast.apply(lambda x: list(tuple(sorted(comb)) for comb in combinations(x.split('|'), 2) )).tolist()
flattened = pd.DataFrame(pairs).stack()
flattened.value_counts()

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)